.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: dense;
}

.gallery::before{
  content: ' ';
  height: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}


.gallery > *:first-child{
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.gallery > *{
  background: rgb(0 0 0 / 0.1);
  border: thin solid transparent;
  position: relative;
}

.gallery > *:focus,
.gallery > *:hover{
  transform: scale(1.5);
}

.gallery figure{
  overflow: hidden;
  height: 20vw;
  width: 20vw;
}

.gallery figure img{
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* description*/
.gallery figure p{
  position: absolute;
  color: var(--off-white);
  padding: 5px;
  display: none;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.gallery figure:hover p{
  display: block;
}

@media screen and (max-width: 1200px) {
  .gallery{
    grid-template-columns: 1fr 1fr;
  }
  .gallery figure{
    height: 30vw;
    width: 30vw;
  }
}

@media screen and (max-width: 900px) {
  .gallery{
    grid-template-columns: 1fr;
  }
  .gallery figure{
    height: 50vw;
    width: 50vw;
  }
}

@media screen and (max-width: 600px) {
  .gallery{
    grid-template-columns: 1fr;
  }
  .gallery figure{
    height: 70vw;
    width: 70vw;
  }
}
