/* gallery */

.gallery_row{
  display: flex;
  flex-wrap: wrap;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 1%;
}
.gallery_column{
  flex: 22%;
  max-width: 25%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 1%;
}
.gallery_column img{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  display: block;
  border-radius: 5px;
}
.gallery_column img:hover{
  cursor: pointer;
}
/* responsive layout */
@media screen and (max-width: 1100px){
  .gallery_column{
    flex: 48%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px){
  .gallery_column{
    flex: 99%;
    max-width: 100%;
  }
}

.gallery_background{
  background-color: var(--dark_grey_green);
  padding-left: 1%;

  border-color: var(--light_purple);
  border-style: dashed;
  border-width: 1px;
  border-radius: 15px;

}
