/* pre-defining colors as variables (easy access)*/
:root{
  --dark_grey_green: #101c15;
  --light_purple: #bac3f5;
  --link: #7487ed;
  --nasty_yellow: #e3fc03;
  --grey: #303030;
}

/*
importing fonts form google
CSS rules to specify families
    font-family: 'Kanit', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Space Grotesk', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,900&family=Source+Code+Pro&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
  background-color: var(--grey);
  color: var(--light_purple);
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;

  /* sticker footer  */
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

/* links: */
a{
  text-decoration: none;
  color: var(--link)
}

a:hover{
  color: var(--light_purple);
}

/* flexbox*/
.flexbox{
  display: flex;
  padding-bottom: 5%;

  background-color: var(--dark_grey_green);

  border-radius: 15px;
  border-width: medium;
  border-bottom: inset;
  border-color: var(--nasty_yellow);
}

/* sidebars */
.sidebar{
  width: 25%;
  height: 100%;
}
/* right */
.sidebar#right_sidebar{
  display: inline;
  text-align: center;
  padding-top: 50px;
  padding: 1%;
}

gif_item{
  width: 100%;
  max-width: 300px;
}

.log{
  padding: 3%;
  text-align: left;
  border: dashed;
  border-width: thin;
  border-radius: 15px;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
}

/* left */
.sidebar#menubar{
  min-width: 200px;
  padding-right: 10px;
}

.title_box{
  font-family: 'Kanit', sans-serif;
}

.title_box #title_image{
  max-width: 100%;
  max-height: 100%;
}
.title_box #title_image_mobile{
  max-width: 100%;
  max-height: 100%;
  display: none;
}
/* navigation*/
#nav_lu{
  list-style-type: none;
}
#nav_lu_sub{
  list-style-type: none;
  padding: 2px;
  font-size: 12px;
}
#nav_lu_sub a{
  color: var(--nasty_yellow);
}
#nav_lu_sub a:hover{
  color: var(--light_purple);
}


/* mid */
.mid{
    width: 100%;
}

.sub_title{
  font-family: inherit;
}

/* article 1*/
.article1{
  margin-top: 20px;
  padding: 2%;
  border-width: 1px;
  border-style: dashed;
  border-radius: 15px;
}

.article1_header{
  color: var(--nasty_yellow);
}

.article1_img_box{
  width: 100%;
  display: inline-block;
}
.artile1_img{
  border-radius: 15px;
  width: 200px;
  max-width: 75%;
}
.source_box{
  color: var(--link);
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
}

.slap-tap-pick-on{
  background-size: cover;
  max-width: 100%;
  height: auto;
  align-self: center;
}

/* footer */
#footer_with_banners{
  margin-top: 20px;
  text-align: center;
  padding: 1%;

}

/* 404 page*/
#error_name{
  font-family: 'Source Code Pro', monospace;
}
#back_button{
  background-color: var(--link);
  border: none;
  text-align: center;
  color: var(--dark_grey_green);
  border-style: inset;
  border-radius: 15px;
  padding: 10px;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  cursor:pointer;
}
#back_button:hover{
  background-color: var(--nasty_yellow);
}


/* responsive design: */
@media screen and (max-width: 700px){
  .flexbox{
    display: inline-block;
    padding: 2%;
    text-align: center;
  }
  .mid{
    text-align: left;
  }
  .title_box{
    text-align: center;
    width: 100%;
  }
  .title_box #title_image{
    display: none;
  }
  .title_box #title_image_mobile{
    display: inline-block;
  }
  .sidebar{
    display: none;
  }
  #right_sidebar{
    width: 100%;
    display: none;
  }
  .gif_item{
    display: none;
  }
  #menubar{
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
  }
  #nav_lu a{
    display: inline-table;
    padding: 0.5%;
    margin: 1%;
    border-style: groove;
    border-radius: 10px;
  }
}
